@media (min-width:960px) {
    .left-container h2:first-child, 
    .left-container h3:first-child, 
    .left-container h4:first-child, 
    .left-container p:first-child {
        margin-top: 51px;
    }
    .left-container .vgzBox p:first-child {
        margin-top: 0;
    }
    .left-container .text-section {
        width: 80%;
    }
}
h4 {
    font-style: italic;
}

.vk-event {
    display: flex;
}
.vk-event_title {
    flex: 2;
}
.vk-event_date-time {
    flex: 1;
}
.vk-event_date-time div {
    text-align: right;
}
.vk-event:not(:last-child) {
    padding-bottom: 12px;
    border-bottom: 2px solid #4D680F;
    margin-bottom: 10px;
}
.vk-event:hover {
    color: #AFAA1B;
    cursor: pointer;
}
.vk-event.active {
    color: #AFAA1B;
}
.vk-event_details {
    display: none;
}
.vk-event_details.active {
    display: block;
}

@media screen and (min-width:960px) {
    .left-container {
        margin-left: calc(20%);
    }    
    .vgz-child_nav-mobile {
        display: none;
    }
}
@media screen and (max-width:959px) {
    .left-container {
        padding-left: 30px;
        padding-right: 30px;
    }    
    .vgz-child_nav {
        display: none;
    }
    .vgz-child_nav-mobile {
        position: relative;
    }
    .vgz-child_nav-mobile.vgz-top {
        margin-right: 230px;
        top: -35px;
    }
    .uk-button-default:hover, .uk-button-default:focus {
        position: relative;
        z-index: 985;
    }
    .uk-slideshow + .vgz-child_nav-mobile {
        top:-20px
    }
    .vgz-mobile-parent > a::after {
        position: relative;
        top: -33px;
    }
    .uk-section-small {
        padding-bottom: 0;
    }
    .uk-container {
        padding-left: 30px;
    }
    .vgz-content p:last-child {
        margin-bottom: 0;
    }
}

.vgzFormField {
    padding-bottom: 5px;
}

.vgzFormField .uk-radio {
    background-color: transparent;
    border-color: #AFAA1B;
}

.vgzFormField .uk-radio:checked {
    background-color: #465F0E;
}
.vgzFormField .uk-checkbox:checked:focus,
.vgzFormField .uk-radio:checked:focus {
    background-color: #668818;
}

.uk-text-danger textarea,
.uk-text-danger input[type="text"] {
    color: #e6865c;
}

.vgzBox {
    color: #FAF8E7;
    background-color: #465F0E;
    padding: 1em 1em 0.1em 1em;
    margin-bottom: 1em;
}

.vgzBox.vgzAlarm {
    background-color: #F0430A;
}

.vgz-teaser {
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.2;
}
.vgz-content {
    font-size: 0.8rem;
    line-height: 1;
}

.intern .uk-navbar-toggle,
#tm-mobile > .intern .uk-close {
    color: #FFFFFF;
    background-color: #4D680F;
}
.intern .uk-navbar-toggle:hover,
#tm-mobile > .intern .uk-close:hover {
    color: #9C9E0F;
}

.btnRowRight {
    z-index: 10;
}
/* overwrites custom.css */
.btnRow.btnRowRight {position: fixed;top:380px;right:0px}
.uk-grid-small > .uk-grid-margin.el-item {margin-top: 10px;}

