@media (min-width:960px) {
    .left-container {
        margin-left: calc(20%);
    }
    .left-container h2:first-child, 
    .left-container h3:first-child, 
    .left-container h4:first-child, 
    .left-container p:first-child {
        margin-top: 51px;
    }
    .left-container .text-section {
        width: 80%;
    }
}
h4 {
    font-style: italic;
}

.vk-event {
    display: flex;
}
.vk-event_title {
    flex: 2;
}
.vk-event_date-time {
    flex: 1;
}
.vk-event_date-time div {
    text-align: right;
}
.vk-event:not(:last-child) {
    padding-bottom: 12px;
    border-bottom: 2px solid #4D680F;
    margin-bottom: 10px;
}
.vk-event:hover {
    color: #AFAA1B;
    cursor: pointer;
}
.vk-event.active {
    color: #AFAA1B;
}
.vk-event_details {
    display: none;
}
.vk-event_details.active {
    display: block;
}
