name: Copy ligth module into production (test)
on:
  push:
    branches:
      - production_tst
jobs:
  copy_to_target:
    name: Copy ligth module
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: copy file via ssh key
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        target: "/vgz/light-modules/vgz-module"
        source: "*"
